<div class="container">

  <div class="jumbotron pt-4 pb-4">
    <h1 class="text-center">Vanishing snake :P</h1>
  </div>

  <div class="row justify-content-md-center">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Game</div>
        <div class="card-body">
            <canvas #canvas></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Info</div>
        <div class="card-body">
          <strong class="h2">Score: {{game.score}}</strong><br>
          <span *ngIf="!!game.maxScore">(highest score: {{game.maxScore}})</span>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">Developer panel</div>
        <div class="card-body">
          <button class="btn btn-primary btn-block" (click)="game.isRunning() ? game.stop() : game.start()">
            {{game.isRunning() ? 'Stop' : 'Start'}}
          </button>
          <button class="btn btn-warning btn-block mb-2" (click)="game.restart()">Restart</button>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="speed">Speed</span>
            </div>
            <input type="number" [(ngModel)]="gameSpeed" class="form-control" placeholder="Speed" aria-label="Speed" aria-describedby="speed" min="100" step="50">
          </div>

          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" [(ngModel)]="game.config.options.canGoThroughWalls" class="custom-control-input" id="can-go-through-walls">
            <label class="custom-control-label" for="can-go-through-walls">Can go through walls</label>
          </div>

          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" [(ngModel)]="game.config.options.canGoThroughItself" class="custom-control-input" id="can-go-through-itself">
            <label class="custom-control-label" for="can-go-through-itself">Can go through itself</label>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>




